#box-1 {
    color: aquamarine;
    background-color: lightgrey;
    border: 3px solid;
    border-color: aquamarine;
    border-radius: 20px;
    text-align: center;
    font-size: x-large;
    width: 200px;
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 20px;
}
#box-2 {
    color: white;
    background-color: turquoise;
    font-weight: bold;
    text-align: center;
    height: 20px;
    width: 20px;
    border: 3px;
    border-radius: 100px;
    font-size: x-large;
    margin-left: 50px;
    padding: 20px;
}
#box-3 {
    color: white;
    background-color: aqua;
    font-size: x-large;
    padding: 10px;
    text-align: center;
    border: 3px solid;
    border-color: black;
    width: 200px;
    margin-left: 50px;
    margin-top: 20px;
    box-shadow: 5px 5px black;
}